.header {
  height: 400px;
  width: 100%;
  padding: 290px 0 160px;
  background-color: #a18b40;
  background-image: url("../images/45-degree-fabric-light.png");

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.username {
  color: #22211f;
}
