/******************************/
/* NAVIGATION */
/******************************/

nav.main-nav {
  background-color: #4056a1;
  height: 12rem;
  width: 100%;
  padding: 0 1.5rem;
  color: #ffffff;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

nav.main-nav .logo {
  font-family: "Bungee", cursive;
  font-size: 4.4rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

nav.main-nav .nav-action {
  font-size: 2rem;
  letter-spacing: 0.7px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

nav.main-nav span.text {
  font-weight: 600;
}

nav.main-nav .fa-solid {
  color: red;
  transition: all 0.8s;
  cursor: pointer;
  padding: 0 3.2rem;
}

nav.main-nav .fa-solid:hover {
  transform: translateY(0.4rem);
}

/******************************/
/* NAVIGATION BACK TO TOP*/
/******************************/
.top-page {
  cursor: pointer;
  padding: 2.4rem;
  margin: 0 1.6rem 3rem 0;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all 0.4s;
}

div.scroll .fa-solid {
  color: #fff;
  font-size: 3rem;
}

div.scroll a:link,
div.scroll a:visited {
  text-decoration: none;
}

div.scroll .top-page.show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

div.scroll .top-page.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
