/******************************/
/* CREATE NEW TWEET SECTION */
/******************************/
section.new-tweet {
  padding: 0 1.6rem 3.2rem;
  display: grid;
  align-items: center;
  transition: all 0.3s;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
  font-size: 1.6rem;
}

section.new-tweet #errorMessage {
  color: red;
  background-color: #f4f1ec;
  height: 3.2rem;
  padding: 0 1.6rem;
  display: none;
}

section.new-tweet .errorPadding {
  padding: 1.6rem;
}

section.new-tweet form {
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  row-gap: 1.6rem;
  align-items: center;
}

section.new-tweet label {
  font-size: 2rem;
  font-weight: 600;
}

#tweet-text {
  grid-column: 1/3;
  resize: none;
  background-color: #f4f1ec;
  font-weight: 600;
  border: none;
  outline: none;
  border-bottom: 3px solid #22211f;
}

#tweet-text:focus {
  border-color: #545149;
  outline: 1px dotted #22211f;
}

section.new-tweet button,
section.new-tweet output {
  font-family: "Bungee", cursive;
  font-weight: 400;
  font-size: 1.8rem;
}
section.new-tweet button {
  justify-self: start;
  color: #fff;
  background-color: #4056a1;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  transition: all 0.4s;
}

section.new-tweet button:hover {
  background-color: #545149;
}

section.new-tweet output {
  justify-self: end;
  padding-right: 0.8rem;
  letter-spacing: 0.7px;
}

section.new-tweet-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr; /*ensure all rows are the same height when text wraps */
  row-gap: 3.2rem;
}

/******************************/
/* DISPLAY TWEET CARDS */
/******************************/

section.new-tweet-container article {
  border: 3px solid #22211f;
  margin: 0 1.6rem;
  padding: 1.6rem 0;
  font-size: 1.8rem;
  transition: all 0.4s;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  align-items: center;
}

section.new-tweet-container article:hover {
  box-shadow: 0.8rem 0.8rem 0.8rem rgba(34, 33, 31, 0.34);
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding: 0 1.6rem 1.2rem;
}

article.tweet .user {
  display: flex;
  gap: 0.8rem;
}

article.tweet .avatar {
  width: 4rem;
  height: 4rem;
  align-self: flex-start;
}

article.tweet .name {
  align-self: center;
}

article.tweet .tag {
  color: #c6cce3;
  font-weight: 600;
}

article.tweet p {
  padding: 0 1.6rem;
  font-weight: 600;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

article.tweet footer::before {
  content: "";
  display: block;
  padding: 0;
  margin: 0 0.8rem;
  border-top: 3px solid #22211f;
}

article.tweet .footer-items {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
}

article.tweet .tweet-age,
article.tweet .icons {
  font-size: 1.4rem;
}

article.tweet .icons {
  color: #4056a1;
  display: flex;
  gap: 0.8rem;
}

article.tweet .fa-flag,
article.tweet .fa-retweet,
article.tweet .fa-heart {
  transition: all 0.4s;
}

article.tweet .fa-flag:hover,
article.tweet .fa-retweet:hover,
article.tweet .fa-heart:hover {
  color: #a18b40;
}
